html {
    width: 100%;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    color: cornflowerblue;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    position: relative;
    background-color: black;
}

h1 {
    font-size: 144px;
}

p {
    font-size: 64px;
}

footer {
    font-style: normal;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 6px;
    background-color: grey;
    color: cornflowerblue;
}

canvas {
   border-style: ridge; 
   border-color:  darkturquoise;
   border-width: 3px;
   margin-top: 20px;
   padding: 5px;
}


div#race {
    display: inline-block;
    vertical-align: 0%;
    width: 30px;
    height: 30px;
    border-style: ridge; 
    border-color:  darkturquoise;
    border-width: 3px;
    margin-right: 20px;
    padding: 0px;
    background-color: black;
 }

div#clock {
    display: inline-block;
    vertical-align: 15%;
    font-size: 28px; 
    width: 120px;
    text-align: center;
    border-style: ridge; 
    border-color:  darkturquoise;
    border-width: 3px;
    margin-right: 20px;
    padding: 0px;
    float: inline-start;
}

div.error {
    font-size: 30px;
    height:100%;
    text-align: center;
    color:crimson;
}

div.banner {
    display:block;    
    font-size: 30px;
    height:100%;
    text-align: center;
    color:crimson;
}


div.header {
    background-color: cornflowerblue;
    color:black;
    width: 100%;
    float: left;
    font-size: 42px; 
    font-weight: bold; 
}

div.maincontrol {
    float: right;
}

button.maincontrol {
    background-color: crimson;
    font-size: 40px;  
    margin-right: 0px;
}
