html {
    width: 100%;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    color: cornflowerblue;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    position: relative;
    background-color: black;
}

h1 {
    font-size: 144px;
}

p {
    font-size: 64px;
}

footer {
    font-style: normal;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 6px;
    background-color: grey;
    color: cornflowerblue;
}

canvas.telemetry {
    display: inline-block;
    vertical-align: text-top;    
    width: 800px;
    height: 150px;
    border-style: ridge; 
    border-color:  darkturquoise;
    border-width: 3px;
    margin-top: 3px;
    padding: 5px;
}

div.telemetry-container {
    display: inline-block;
    margin: 3px;
    float:left;
}

p.telemetry-title {
    font-size: 20px;
    text-align: center;
    margin: 0px;
}


div.label {
    display:inline-block;
    vertical-align: text-top;    
    height: 150px;
    margin:0px;
    gap:0px;
    padding: 0px;  
}

div.label p {
    font-size: 12px;
}

p.top-label {
    height: 14px;
    margin: 0px;
    margin-top: 4px;
    margin-bottom: 130px;    
    border: 2px ridge darkturquoise;
    text-align: right;
    padding-left: 5px;
}

p.bottom-label {
    margin: 0px;
    height: 14px;
    border: 2px ridge darkturquoise;
    text-align: right;
    padding-left: 5px;
}


div#race {
    display: inline-block;
    vertical-align: 0%;
    width: 30px;
    height: 30px;
    border-style: ridge; 
    border-color:  darkturquoise;
    border-width: 3px;
    margin-right: 20px;
    padding: 0px;
    background-color: black;
 }

div#clock {
    display: inline-block;
    vertical-align: 15%;
    font-size: 28px; 
    width: 120px;
    text-align: center;
    border-style: ridge; 
    border-color:  darkturquoise;
    border-width: 3px;
    margin-right: 20px;
    padding: 0px;
    float: inline-start;
}

div.error {
    font-size: 30px;
    height:100%;
    text-align: center;
    color:crimson;
}

div.content {
    background-color:blue;
    column-count: 3;
    
}

div.banner {
    display:block;    
    font-size: 30px;
    height:100%;
    text-align: center;
    color:crimson;
}


div.header {
    background-color: cornflowerblue;
    color:black;
    width: 100%;
    float: left;
    font-size: 42px; 
    font-weight: bold; 
}

div.maincontrol {
    float: right;
}

button.maincontrol {
    background-color: crimson;
    font-size: 40px;  
    margin-right: 0px;
}
